# Dependency directories
node_modules/
jspm_packages/

# Next.js build
.next/
out/

# env
.env
.env.*
*.env

# secrets
*.key
*.pem
*.crt

# logs
logs
*.log
npm-debug.log*

# build
dist
build

# cache
.cache

# vscode
.vscode/*
!.vscode/settings.json

# OS files
.DS_Store
Thumbs.db

package-lock.json
